// common-variables-footer.scss

$hr-border-color: $border-line-color;
$hr-background: $grid-box-background;

$th-color: $body-color;
$th-border-color: $border-line-color;
$th-background: $grid-box-background;

$code-border: $border-line-color;
$code-background: $grid-box-background;

$pre-border: $border-line-color;
$pre-background: $grid-box-background;

$blockquote-border-left: $grid-box-background;

$form-border-color: $border-line-color;
$form-background: $grid-box-background;
$form-focus-border-color: $a-color;
$form-focus-box-shadow: $a-color;
$form-focus-hover-background: $grid-box-background;

$fieldset-background: $grid-box-background;

$byline-background: $grid-box-background;
