// common-variables.scss

$widescreen-max-width: 72em !default;

$body-font-size: 1rem;
$body-line-hight: 1.5; /* between 1.2 and 1.5 */

/* magic number = 1.4rem = line-spacing * font-size */
$magic-number: $body-font-size * $body-line-hight;

$h1-font-size: 2.4rem;
$h1-margin-bottom: 2 * $magic-number;

$h2-font-size: 2rem;
$h2-margin-bottom: $magic-number;

$h3-font-size: 1.4rem;
$h3-margin-bottom: 0;
