// layout.scss

@font-face {
    font-family: 'OpenSans';
    src: url('../../shared/fonts/google/OpenSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../shared/fonts/google/Philosopher-Regular.ttf');
    font-display: swap;
}
