<div class="container">
    <div class="byline container">
        <picture class="grid-picture">
            <source media="(min-width: 668px)" srcset="{{ base_url }}/image/profile_pic.jpg?w=120&crop-to-fit">
            <source media="(min-width: 376px)" srcset="{{ base_url }}/image/profile_pic.jpg?w=120&crop-to-fit" alt="AI">
            <img src="{{ base_url }}/image/profile_pic.jpg?w=120&crop-to-fit" alt="Nenads facepicture">
        </picture>
        <div class="byline-text">I am currently studying webprogramming at <a href="https://www.bth.se/" target="_blank">Blekinge Institute of Technology</a> as well as different Machine learning and IoT courses. During my studies I'm taking non-paid leave from my ordinary job at <a href="https://vr.se/" target="_blank">The Swedish Research Council</a>.</div>
    </div>
</div>
